article {
  height: 25rem;
  margin: 1rem;
  display: flex;
  justify-content: flex-start;
  margin-top: 5rem;
}

.add-to-basket {
  background-color: #b8e986;
  width: 17rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  border: none;
  outline: none;
  font-family: Poppins;
}

.add-to-basket p {
  margin-right: 1rem;
}

.add-to-basket:hover {
  background-color: #d4e000;
  cursor: pointer;
}

.add-to-basket:active {
  border: none;
  transform: translateY(3px);
}
