* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

html {
  box-sizing: border-box;
  font-size: 62.5%; /*  turns 1 rem into 10px (because 100% is 16px by default); */
}

.app {
  background-color: #e9fbf1; /* Lily White */
  min-height: 100vh;
  min-width: 100vw;
  font-family: Poppins;
}

.main {
  display: grid;
  grid-template-columns: 25vw 1fr;
}
